fastapi>=0.109.0
uvicorn>=0.27.0
langchain-core
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-community
chromadb>=0.4.22
google-generativeai
sentence-transformers
python-dotenv>=1.0.0
pydantic>=2.5.3
pydantic-settings>=2.1.0
streamlit>=1.31.0
requests>=2.31.0
beautifulsoup4>=4.12.3
numpy>=1.26.3
